<strong>Olá, {{ owner }}</strong>
<p>Houve uma nova inscrição para o Meetup {{ meetup }}</p>
<p>
  <strong>Inscrito: </strong> {{ user }} <br />
  <strong>Data/hora: </strong> {{ date }} <br />
  <br />
</p>
